---
import { getCollection } from 'astro:content';

import BaseLayout from '../layouts/BaseLayout.astro';

import JobDisplay from '../components/JobDisplay.astro';
import Hero from '../components/Hero.astro';
import Grid from '../components/Grid.astro';
import type { QuickStats } from '../../models/cloudflare/quickstat';
import type { Job } from '../../models/cloudflare/job';
import ErrorGraph from '../components/graph/ErrorGraph';
import SmartGraph from '../components/graph/SmartGraph';


const getJobs = async () => {
	return (await (await fetch("https://delay.cloudflare.chaika.me/v2/jobs/type/ai")).json()).data
}
var getJobsTask = getJobs()

const getAnalytics = async () => {
	return (await (await fetch("https://delay.cloudflare.chaika.me/v1/quick/QuickAnalytics/type/ai")).json());
}
var getAnalyticsTask = getAnalytics()

const jobs: Job[] = await getJobsTask;
const stats: QuickStats[] = await getAnalyticsTask;

---

<BaseLayout
	title="Cloudflare AI Monitoring"
	description="See Cloudflare AI Monitoring Jobs"
>
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<Hero
				title="Cloudflare AI Jobs"
				tagline="See Cloudflare AI Monitoring Jobs"
				align="start"
			>
			      <a href="/ai/overview">Overview</a>
			</Hero>
			<Grid>
				{
					jobs.map((job: Job) => (
						<li>
							<JobDisplay type="ai" job={job} stats={stats.filter(stat => stat.job_name.toLowerCase() == job.internalJobName)} />
						</li>
					))
				}
			</Grid>
		</main>

	</div>
</BaseLayout>
