---
import type { Job } from "../../models/cloudflare/job";
import ErrorGraph from "../components/graph/ErrorGraph";
import CloudflareRouting from "../components/graph/CloudflareRouting";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import JobDisplay from "../components/JobDisplay.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout
  title="Cloudflare Routing Monitoring"
  description="See Cloudflare Routing, using Workers running on each plan returning static content."
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="Cloudflare Routing"
        
        tagline="This measures Cloudflare request rerouting primarily done for capacity reasons from 50+ locations globally, not Residential ISP routing which is much more complex and diverse."
        align="start"
      >
            <a href="/delay"></a>
      </Hero>
   <CloudflareRouting client:only="preact"/>
    </main>
  </div>
</BaseLayout>